<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Hospital demo project">
    <meta name="author" content="JavaGuru">
    <title>Hospital repository</title>
    <link href="/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>

<h3>Search visit</h3>

<table>
    <tr>
        <td>Visit ID:</td>
        <td>Doctor ID:</td>
        <td>Patient ID:</td>
        <td>Date:</td>
        <td>Order by:</td>
        <td>Order direction:</td>
        <td>Page number:</td>
        <td>Page size:</td>
    </tr>

    <tr>
        <form action="/searchVisit" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.visitId}"/></td>
            <td><input type="text" th:field="${request.doctorId}"/></td>
            <td><input type="text" th:field="${request.patientId}"/></td>
            <td><input type="text" th:field="${request.visitDate}"/></td>
            <td><input type="text" th:field="${request.orderBy}"/></td>
            <td><input type="text" th:field="${request.orderDirection}"/></td>
            <td><input type="text" th:field="${request.pageNumber}"/></td>
            <td><input type="text" th:field="${request.pageSize}"/></td>
            <td>
                <input type="submit" value="Search Visit"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>

        <td th:if="${visits != null}">
    <tr th:each="visit : ${visits}">
        <td th:text="${visit.visitID}" />
        <td th:text="${visit.doctor}" />
        <td th:text="${visit.patient}" />
        <td th:text="${visit.visitDate}" />
    </tr>
    </td>

    </tr>
</table>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}" />
        <td th:text="${error.description}" />
    </tr>
</td>

<form action="/visitActions" method="get">
    <input type="submit" value="Visit actions" name="Submit" />
</form>

<form action="/" method="get">
    <input type="submit" value="Main menu" name="Submit" />
</form>

</body>

</html>