<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Hospital demo project">
    <meta name="author" content="JavaGuru">
    <title>Visits repository</title>
    <link href="/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>

<h3>Visit menu:</h3>

<a href="/addVisit">Add visit to list</a> <br>
<a href="/deleteVisit">Delete visit from the list</a> <br>
<a href="/editVisit">Edit visit</a> <br>
<a href="/showAllVisits">Show all visits in the list</a> <br>
<a href="/searchVisit">Search visit</a> <br>

<form action="/" method="get">
    <input type="submit" value="Main menu" name="Submit" />
</form>

</body>

</html>