<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Hospital demo project">
    <meta name="author" content="JavaGuru">
    <title>Visits repository</title>
</head>

<body>

<h3>Visit menu:</h3>

<a href="/addVisit">Add visit to list</a> <br>
<a href="/deleteVisit">Delete visit from the list</a> <br>
<a href="/editVisit">Edit patient</a> <br>
<a href="/showAllVisits">Show all patients in the list</a> <br>
<a href="/searchVisit">Search patient</a> <br>

</body>

</html>