<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Restaurant JG demo project">
    <meta name="author" content="JavaGuru">
    <title>Restaurant JG</title>
</head>

<style>
    body {
       background-color: linen;
       background-image: url('https://i.pinimg.com/originals/38/e7/8b/38e78bf775b3ebff1ba01edd2fdf87d7.jpg');
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
}
    h2 {
       color: MediumVioletRed;
       text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
</style>

<body>

<h2>Add Table</h2>

<table>
    <tr>
        <td>Title of the table:</td>
        <td>Capacity:</td>
        <td>Price per table:</td>
    </tr>

    <tr>
        <form action="/addTable" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.Title}"/></td>
            <td><input type="text" th:field="${request.TableCapacity}"/></td>
            <td><input type="text" th:field="${request.Price}"/></td>
            <td>
                <input type="submit" value="Add Table" style="color:MediumVioletRed;text-align:center;font-size:17px;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;" />
                <input type="reset" value="Clear" style="color:MediumVioletRed;text-align:center;font-size:17px;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;" />
            </td>
        </form>
    </tr>
</table>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"></td>
        <td th:text="${error.description}"></td>
    </tr>
</td>

<td th:if="${errors == null}">
    <tr th:text="${message}"></tr>
</td>


<form action="/" method="get">
    <input type="submit" value="Main menu" name="Submit"
           style="color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 6px darkBlue; font-size:17px;" />
</form>

<form action="/tableMenu" method="get">
    <input type="submit" value="Return to tables' menu" name="Submit"
           style="color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 6px darkBlue; font-size:17px;" />
</form>

</body>
</html>