<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Restaurant JG demo project">
  <meta name="author" content="JavaGuru">
  <title>Restaurant JG</title>
</head>

<body>

<h3>Delete table from the list</h3>

<table>
  <tr>
    <td>Table ID:</td>
  </tr>

  <tr>
    <form action="/deleteTable" th:object="${request}" method="post">
      <td><input type="text" th:field="${request.tableIdToRemove}"/></td>
      <td>
        <input type="submit" value="Delete Table"/>
        <input type="reset" value="Clear"/>
      </td>
    </form>
  </tr>
</table>

<td th:if="${errors != null}">
  <tr th:each="error : ${errors}">
    <td th:text="${error.field}"></td>
    <td th:text="${error.description}"></td>
  </tr>
</td>

<td th:if="${errors == null}">
  <tr th:text="${message}"></tr>
</td>


<form action="/" method="get">
  <input type="submit" value="Main menu" name="Submit" />
</form>

<form action="/tableMenu" method="get">
  <input type="submit" value="Return to Table" name="Submit" />
</form>

</body>
</html>