<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Restaurant JG demo project">
    <meta name="author" content="JavaGuru">
    <title>Restaurant JG</title>
</head>

<body>
<h3>Show all tables</h3>
<tr>
    <td>ID of the table:</td>
    <td>Title of the table:</td>
    <td>Capacity:</td>
    <td>Price per table:</td>
</tr>


<td th:if="${tables != null}">
    <tr th:each="table : ${tables}">
        <td th:text="${table.id}"></td>
        <td th:text="${table.title}"></td>
        <td th:text="${table.tableCapacity}"></td>
        <td th:text="${table.price}"></td>
    </tr>
</td>

<form action="/" method="get">
    <input type="submit" value="Main menu" name="Submit" />
</form>

<form action="/tableMenu" method="get">
    <input type="submit" value="Return to Table" name="Submit" />
</form>

</body>
</html>