<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Hospital demo project">
    <meta name="author" content="JavaGuru">
    <title>Hospital repository</title>
    <link href="/static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
</head>

<body>

<h3>Edit patient</h3>

<table>
    <tr>
        <td>Patient ID to edit:</td>
        <td>Field to change:</td>
        <td>Changes:</td>
    </tr>

    <tr>
        <form action="/editPatient" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.patientID}"/></td>
            <td><input type="text" th:field="${request.fieldToChange}"/></td>
            <td><input type="text" th:field="${request.changes}"/></td>
            <td>
                <input type="submit" value="Edit Patient"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>
</table>

    <td th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}" />
            <td th:text="${error.description}" />
        </tr>
    </td>

    <td th:if="${errors == null}">
        <tr th:text="${message}"></tr>
    </td>

<form action="/patientActions" method="get">
    <input type="submit" value="Patient actions" name="Submit" />
</form>

<form action="/" method="get">
    <input type="submit" value="Main menu" name="Submit" />
</form>

</body>

</html>