<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Hospital demo project">
    <meta name="author" content="JavaGuru">
    <title>Patients repository</title>
</head>

<body>

<h3>Patient menu:</h3>

<a href="/addPatientToList">Add patient to list</a> <br>
<a href="/deleteFromList">Delete patient from list</a> <br>
<a href="/findPatientByID">Find patient by ID</a> <br>
<a href="/editPatient">Edit patient</a> <br>
<a href="/showAllPatients">Show all patients in the list</a> <br>
<a href="/searchPatient">Search patient</a> <br>

</body>

</html>