<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Hospital demo project">
    <meta name="author" content="JavaGuru">
    <title>Hospital repository</title>
</head>

<body>

<h3>Search patient</h3>

<table>
    <tr>
        <td>Name:</td>
        <td>Surname:</td>
        <td>Personal code:</td>
        <td>ID:</td>
    </tr>

    <tr>
        <form action="/searchPatient" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.name}"/></td>
            <td><input type="text" th:field="${request.surname}"/></td>
            <td><input type="text" th:field="${request.personalCode}"/></td>
            <td>
                <input type="submit" value="Search Patient"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>

        <td th:if="${patients != null}">
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.name}" />
        <td th:text="${patient.surname}" />
        <td th:text="${patient.personalCode}" />
        <td th:text="${patient.id}" />
    </tr>
    </td>

    </tr>
</table>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}" />
        <td th:text="${error.description}" />
    </tr>
</td>

<form action="/" method="get">
    <input type="submit" value="Main menu" name="Submit" />
</form>

<form action="/patientActions" method="get">
    <input type="submit" value="Patient actions" name="Submit" />
</form>

</body>

</html>