<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Restaurant JG demo project">
    <meta name="author" content="JavaGuru">
    <title>Restaurant JG</title>

</head>

<style>
    body {
        background-color: linen;
        background-image: url('https://krot.info/uploads/posts/2021-01/1610157907_2-p-krasivii-nezhnii-fon-dlya-teksta-7.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}
    h2 {
        color: MediumVioletRed;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
</style>

<body>
<h2>Search reservation</h2>

<table>
<tr>
    <td>Reservation ID:</td>
</tr>

<tr>
    <form action="/searchReservation" th:object="${request}" method="post">
        <td><input type="text" th:field="${request.reservationId}"/></td>

        <td>
            <input type="submit" value="Search Reservation" style="color:MediumVioletRed;text-align:center;font-size:17px;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;" />
            <input type="reset" value="Clear" style="color:MediumVioletRed;text-align:center;font-size:17px;text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;" />
        </td>
    </form>
</tr>
</table>
<td th:if="${reservations != null}">
    <tr th:each="reservation : ${reservations}">
        <td th:text="${reservation.idReservation}"></td>
        <td th:text="${reservation.user}"></td>
        <td th:text="${reservation.menu}"></td>
        <td th:text="${reservation.table}"></td>
        <td th:text="${reservation.reservationDate}"></td>
    </tr>
</td>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"></td>
        <td th:text="${error.description}"></td>
    </tr>
</td>

<form action="/" method="get">
    <input type="submit" value="Main menu" name="Submit"
           style="color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 6px darkBlue; font-size:17px;" />
</form>

<form action="/reservationMenu" method="get">
    <input type="submit" value="Return to reservations' menu" name="Submit"
           style="color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 6px darkBlue; font-size:17px;" />
</form>

</body>
</html>