<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Hospital demo project">
    <meta name="author" content="JavaGuru">
    <title>Patients repository</title>
    <link href="/static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
</head>

<body>

<h3>Program menu:</h3>

<a href="/patientActions">Patient actions</a> <br>
<a href="/doctorActions">Doctor actions</a> <br>
<a href="/visitActions">Visit actions</a> <br>
<a href="/prescriptionActions">Prescription actions</a> <br>

</body>

</html>