<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Restaurant JG demo project">
    <meta name="author" content="JavaGuru">
    <title>Restaurant JG</title>
</head>
<body>
<h3>Add User</h3>

<table>
    <tr>
        <td>Name:</td>
        <td>Surname:</td>
        <td>Telephone:</td>
    </tr>
    <tr>
        <form action="/addUser" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.name}"/></td>
            <td><input type="text" th:field="${request.surname}"/></td>
            <td><input type="text" th:field="${request.telephone}"/></td>
            <td>
                <input type="submit" value="Add User"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>
</table>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}" />
        <td th:text="${error.description}" />
    </tr>
</td>

<td th:if="${errors == null}">
    <tr th:text="${message}"></tr>
</td>


</body>
</html>