<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Restaurant JG demo project">
    <meta name="author" content="JavaGuru">
    <title>Restaurant JG</title>
</head>

<body>

<h3>Menu menu:</h3>

<h3><button class="/" style="width: 20%;">Add Menu</button></h3>
<h3><button class="/" style="width: 20%;">Delete Menu</button></h3>
<h3><button class="/" style="width: 20%;">Show All Menus</button></h3>
<h3><button class="/" style="width: 20%;">Return To Main Menu</button></h3>
<h3><button class="/" style="width: 20%;">Exit From Menu</button></h3>

</body>


</html>