<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Restaurant JG demo project">
    <meta name="author" content="JavaGuru">
    <title>Restaurant JG</title>
</head>

<style>
body {
  background-color: linen;
}

h1 {
  color: RoyalBlue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
</style>

<body>

<h1>Reservation menu:</h1>

<h3><a href="/addReservation"><button class="/" style="color:Blue;text-align:center;font-size:17px;width:20%;">Add new reservation</button></a></h3>
<h3><a href="/deleteReservation"><button class="/" style="color:Blue;text-align:center;font-size:17px;width:20%;">Delete reservation</button></a></h3>
<h3><a href="/editReservation"><button class="/" style="color:Blue;text-align:center;font-size:17px;width:20%;">Edit information to the reservation</button></a></h3>
<h3><a href="/showAllReservations"><button class="/" style="color:Blue;text-align:center;font-size:17px;width:20%;">Show a list of all reservations</button></a></h3>

<form action="/" method="get">
    <input type="submit" style="color:Blue;text-align:center;font-size:17px;" value="Main menu" name="Submit" />
</form>

</body>

</html>