<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Restaurant JG demo project">
    <meta name="author" content="JavaGuru">
    <title>Restaurant JG</title>
</head>

<body>

<h3>User menu:</h3>

<h3><a href="/addUser"><button class="/" style="width: 20%;">Add User</button></a></h3>
<h3><a href="/deleteUser"><button class="/" style="width: 20%;">Delete User</button></a></h3>
<h3><a href="/showUser"><button class="/" style="width: 20%;">Show Users</button></a></h3>
<h3><a href="/searchUser"><button class="/" style="width: 20%;">Search User</button></a></h3>

<form action="/" method="get">
    <input type="submit" value="Main menu" name="Submit" />
</form>

</body>

</html>