<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Restaurant JG demo project">
    <meta name="author" content="JavaGuru">
    <title>Restaurant JG</title>
</head>

<style>
body {
  background-color: linen;
}
h1 {
  color: RoyalBlue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
</style>

<body>

<h1>User menu:</h1>

<h3><a href="/addUser"><button class="/" style="color:Blue;text-align:center;font-size:17px;width:20%;">Add User</button></a></h3>
<h3><a href="/deleteUser"><button class="/" style="color:Blue;text-align:center;font-size:17px;width:20%;">Delete User</button></a></h3>
<h3><a href="/showUsers"><button class="/" style="color:Blue;text-align:center;font-size:17px;width:20%;">Show Users</button></a></h3>
<h3><a href="/searchUser"><button class="/" style="color:Blue;text-align:center;font-size:17px;width:20%;">Search User</button></a></h3>

<form action="/" method="get">
    <input type="submit" style="color:Blue;text-align:center;font-size:17px;" value="Main menu" name="Submit" />
</form>

</body>

</html>