<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>QWE Trading Application</title>
</head>
<body>

    <h3>Add book to list</h3>

    <table>
        <tr>
            <td>Ticker:</td>
            <td>Company name:</td>
            <td>Industry:</td>
            <td>Currency:</td>
            <td>Market price:</td>
            <td>Dividend:</td>
            <td>Risk weight:</td>
        </tr>

        <tr>
            <form action="/addStock" th:object="${request}" method="post">
                <td><input type="text" th:field="${request.ticker}"/></td>
                <td><input type="text" th:field="${request.name}"/></td>
                <td><input type="text" th:field="${request.industry}"/></td>
                <td><input type="text" th:field="${request.currency}"/></td>
                <td><input type="text" th:field="${request.marketPrice}"/></td>
                <td><input type="text" th:field="${request.dividends}"/></td>
                <td><input type="text" th:field="${request.riskWeight}"/></td>
                <td>
                    <input type="submit" value="Add stock"/>
                    <input type="reset" value="Clear"/>
                </td>
            </form>
        </tr>
    </table>

    <td th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}"></td>
            <td th:text="${error.message}"></td>
        </tr>
    </td>



</body>
</html>