<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Call Boar by OddJobs">
    <meta name="author" content="JavaGuru">
    <title>Call Board</title>
</head>

<body>

<h3>Program menu</h3>

<a href="/addClient">Add Client</a> <br>
<a href="/addSpecialist">Add Specialist</a> <br>
<a href="/addAdvertisement">Add Advertisement</a> <br>
<a href="/findClient">Find Client</a> <br>
<a href="/findSpecialist">Find Specialist</a> <br>
<a href="/findAdvertisement">Find Advertisement</a> <br>
<a href="/showAllClients">Show all clients in the list</a> <br>
<a href="/showAllSpecialists">Show all specialists in the list</a> <br>
<a href="/showAllAdvertisements">Show all advertisements in the list</a> <br>
<a href="/removeClient">Remove Client</a> <br>
<a href="/removeSpecialist">Remove Specialist</a> <br>
<a href="/removeAdvertisement">Remove Advertisement</a> <br>




</body>

</html>