<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Hospital demo project">
    <meta name="author" content="JavaGuru">
    <title>Hospital repository</title>
    <link href="/static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
</head>

<body>

<h3>Doctor menu</h3>

<a href="/addDoctorToList">Add doctor to the list</a> <br>
<a href="/showAllDoctors">Show all doctors in the list</a> <br>
<a href="/deleteDoctor">Delete doctor from the list</a> <br>
<a href="/editDoctor">Edit doctor</a> <br>
<a href="/searchDoctor">Search doctor</a> <br>

</body>

</html>