<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Hospital demo project">
    <meta name="author" content="JavaGuru">
    <title>Hospital repository</title>
    <link href="/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>

<h3>Prescription menu</h3>

<a href="/addPrescriptionToList">Add prescription to the list</a> <br>
<a href="/editPrescription">Edit prescription</a> <br>
<a href="/showAllPrescriptions">Show all prescriptions in the list</a> <br>
<a href="/deletePrescription">Delete prescription from the list</a> <br>
<a href="/searchPrescription">Search prescription</a> <br>

</body>

</html>